/.vscode
/.venv
/dist
/not1mm.egg-info
/publish.sh
__pycache__
not1mm.json
test.py
ui.blp
ui.css
research
debug
/testing
.markdownlint.json
betatest
not1mm/testing/server_preferences.json
not1mm/testing/server_database.db
.idea
venv
manual.md